body{
    width: 414px;
    height: 736px;
}
.blur{
    filter: blur(15px);
    width: 50%;
    margin: auto;
}
.al{
    height: 140px;
    width: 200px;
    border: 1px solid red;
    position: absolute;
    top: 250px;
    left: 160px;
    border-radius: 20px;
    background: white;
    text-align: center;
    padding-top: 20px;
    color: rgb(253, 140, 74);
    box-shadow: 10px 10px 7px rgb(202, 191, 191);
}
.inputbox{
    border-color: rgb(248, 128, 107);
    border-radius: 5px;
}
.ib{
    padding: 5px 15px;

    border:1px solid tomato;
    background: tomato;
    color: white;
    border-radius: 30px;
}
.head{
    font-size: 25px;
    display:  flex;
    font-weight: 600;
    opacity: 70%;
    
}
@media screen and (min-width:414px) and (max-width:736px) {
    body{
       display: inline-flex;
   }
   div{
       display: flex;
       flex-wrap: wrap;
   }
}
@media screen and (min-width:810px) and (max-width:1080px) {
     body{
        display: inline-flex;
    }
    div{
        display: flex;
        flex-wrap: wrap;
    }
}