
.main{
    width: 50%;
    margin: auto;
}
.add{
    margin-top: 200px;
}
.li{
    font-size: 45px;
    display: inline-block;
    font-weight: 800;
}
.li2{
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    margin-right: 230px;
    font-size: 45px;
    color: rgb(70, 66, 66);
    opacity: 50%;
}
.list{
    text-align: right;
    text-decoration:none;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(94, 86, 86);
    font-size: 45px;
    display: inline-block;
}
.parent{
    height: 500px;
    width: 100%;
    display: flex;
}
.parent1{
    position: relative;
}
.parent2{
    position: relative;
}
.parent3{
    position: relative;
}
.parent4{
    display: none;
}.parent5{
    display: none;
}
.card{
    border: 1px solid rgb(226, 67, 67);
    border-radius: 10px;
    box-shadow: 10px 10px 7px rgb(202, 191, 191);
    height: 300px;
    width: 200px;
    margin-right: 60px;
    padding-left: 50px;
    

}
.org{
    color: rgb(236, 70, 10);
    text-align: center;
    font: 1.5em sans-serif;
    opacity: 60%;
    text-decoration: none;
}
.und{
    text-decoration:  2px line-through;
    color: rgb(236, 70, 10);
    text-align: right;
    font: 17px sans-serif;
    padding-right: 15px;
    margin-top: 35px;
}
.left{
    position: absolute;
    left: 1px;
}
@media (min-width:414px) and (max-width:736px) {
    *{
        margin: 0;
        padding: 0;
    }
    .main{
        padding-left: 10px;
        margin: 20px;

    }
    .add{
            margin-top: 20px;
    }
    .li{
        font-size: 28px;
    }
    .li2{
        margin-right: 5px;
        font-size: 28px;
    }
    .list{
        display: none;
    }
    .card{
        height: 30px;
        width: 250px;
        padding: 10px 0 10px 10px;
        margin-bottom: 20px;
    }
    .und{
        display: none;
    }
    .left{
        display: none;
    }
    hr{
        display: none;
    }
    .org{
        text-align: left;
        color: black;
        filter: opacity(50%);
        font-size: 1em;
    }
    .parent{
        height: 500px;
        width: 100%;
        display: inline-block;
    }
    .parent1{
        margin-top: 20px;
        position: relative;
    }
    .parent2{
        position: relative;
    }
    .parent3{
        position: relative;
    }
    .parent4{
        display: inline;
        position: relative;
    }.parent5{
        display: inline;
        position: relative;
    }


}
@media (min-width:810px) and (max-width:1080px) {
    *{
        margin: 0;
        padding: 0;
    }
    .main{
        padding-left: 10px;
        width: 50%;
         margin: auto;
        
    }
    .add{
            margin-top: 20px;
    }
    .li2{
        margin-right: 5px;
    }
    .list{
        display: none;
    }
    .card{
        height: 30px;
        width: 250px;
        padding: 10px 0 10px 10px;
        margin-bottom: 20px;
    }
    .und{
        display: none;
    }
    .left{
        display: none;
    }
    hr{
        display: none;
    }
    .org{
        text-align: left;
        color: black;
        filter: opacity(50%);
        font-size: 1em;
    }
    .parent{
        height: 500px;
        width: 100%;
        display: inline-block;
    }
    .parent1{
        margin-top: 20px;
        position: relative;
    }
    .parent2{
        position: relative;
    }
    .parent3{
        position: relative;
    }
    .parent4{
        display: inline;
        position: relative;
    }.parent5{
        display: inline;
        position: relative;
    }


}