body{
    border: 1px solid rgb(20, 2, 2);
    height: 850px;
    width: 90%;
    margin: 50px;
}
.blur{
    filter: blur(15px);
}
.al{
    height: 140px;
    width: 340px;
    border: 1px solid red;
    position: absolute;
    top: 250px;
    left: 600px;
    border-radius: 20px;
    background: white;
    text-align: center;
    padding-top: 20px;
    color: rgb(253, 140, 74);
    box-shadow: 10px 10px 7px rgb(202, 191, 191);
}
.inputbox{
    border-color: rgb(248, 128, 107);
    border-radius: 5px;
}
.ib{
    padding: 5px 15px;

    border:1px solid tomato;
    background: tomato;
    color: white;
    border-radius: 30px;
}
.bottom{
    padding-left: 190px;
    padding-top: 75px;
}
.head{
    font-size: 45px;
    display:  flex;
    font-weight: 800;
    opacity: 70%;
    
}
.hr{
    width: 100px;
}
.left{
    position: absolute;
    left: 1px;
}
@media (min-width:414px) and (max-width:736px) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
        border: 1px solid white;
    }
    .main{
        padding-left: 10px;
        margin: 20px;

    }
    .add{
            margin-top: 20px;
    }
    .li{
        font-size: 28px;
    }
    .li2{
        margin-right: 5px;
        font-size: 28px;
    }
    .list{
        display: none;
    }
    .card{
        height: 30px;
        width: 250px;
        padding: 10px 0 10px 10px;
        margin-bottom: 20px;
    }
    .und{
        display: none;
    }
    .left{
        display: none;
    }
    hr{
        display: none;
    }
    .org{
        text-align: left;
        color: black;
        filter: opacity(50%);
        font-size: 1em;
    }
    .parent{
        height: 500px;
        width: 100%;
        display: inline-block;
    }
    .parent1{
        margin-top: 20px;
        position: relative;
    }
    .parent2{
        position: relative;
    }
    .parent3{
        position: relative;
    }
    .parent4{
        display: inline;
        position: relative;
    }.parent5{
        display: inline;
        position: relative;
    }
    .al{
        height: 100px;
        width: 280px;
        position: absolute;
        top: 250px;
        left: 60px;
    }


}
@media (min-width:810px) and (max-width:1080px) {
    *{
        margin: 0;
        padding: 0;
    }
    .main{
        padding-left: 10px;
        width: 50%;
         margin: auto;
        
    }
    body{
        border: 1px solid white;
    }
    .add{
            margin-top: 20px;
    }
    .li2{
        margin-right: 5px;
    }
    .list{
        display: none;
    }
    .card{
        height: 30px;
        width: 250px;
        padding: 10px 0 10px 10px;
        margin-bottom: 20px;
    }
    .und{
        display: none;
    }
    .left{
        display: none;
    }
    hr{
        display: none;
    }
    .org{
        text-align: left;
        color: black;
        filter: opacity(50%);
        font-size: 1em;
    }
    .parent{
        height: 500px;
        width: 100%;
        display: inline-block;
    }
    .parent1{
        margin-top: 20px;
        position: relative;
    }
    .parent2{
        position: relative;
    }
    .parent3{
        position: relative;
    }
    .parent4{
        display: inline;
        position: relative;
    }.parent5{
        display: inline;
        position: relative;
    }
    .al{
        height: 100px;
        width: 280px;
        position: absolute;
        top: 250px;
        left: 250px;
    }


}