body{
    width: 414px;
    height: 736px;
}
.main{
    width: 50%;
    margin: auto;
}
.add{
    margin-top: 50px;
}
.li{
    font-size: 27px;
    display: inline-block;
    font-weight: 700;
}
.li2{
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    margin-right: 5px;
    font-size: 27px;
    color: rgb(70, 66, 66);
    opacity: 50%;
}
.card{
    border: 1px solid rgb(226, 67, 67);
    border-radius: 10px;
    box-shadow: 10px 10px 7px rgb(202, 191, 191);
    height: 70px;
    width: 300px;
    margin-bottom: 20px;
}
.rg{
    color: brown;
    padding: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    opacity: 60%;
    /* text-decoration: none; */
    /* padding-top: 80px; */
}
.rg1{
    text-decoration: none;
}
.org1{
    color: brown;
    padding: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    opacity: 60%;
}
@media screen and (min-width:414px) and (max-width:736px) {
    body{
       display: inline-flex;
   }
   div{
       display: flex;
       flex-wrap: wrap;
   }
}
@media screen and (min-width:810px) and (max-width:1080px) {
     body{
        display: inline-flex;
    }
    div{
        display: flex;
        flex-wrap: wrap;
    }
}